.categoriesContainer {
  width: 77%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.tabs {
  background-color: #f2f2f2;
  border-bottom: 0.5px solid #e0e0e0;
}

.tab {
  color: #525252;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: none;
  font-family: 'Nunito', sans-serif;
}

@media (max-width: 32em) {
  .categoriesContainer {
    width: 95%;
  }
}
