.headerContainer {
  width: 100%;
  height: 8rem;
  background-color: #fff;
}

.headerElements {
  width: 77%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8rem;
  gap: 0.5rem;
  padding: 1rem 2rem;
  color: #4b9ce2;
  border: none;
  background-color: #f0f8ff;
  cursor: pointer;
  border-radius: 0.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: all 0.3s;
}

.button:hover {
  background-color: #094e78;
  color: #fff;
}

@media (max-width: 32em) {
  .newAdvertText {
    display: none;
  }

  .headerElements {
    width: 95%;
  }
}
