.offersContainer {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
  width: calc(100% - 5.2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8rem;
  padding: 1.6rem 2.6rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tabsContainer {
  width: 100%;
}

.tabs {
  border-bottom: 0.5px solid #e0e0e0 !important;
}

.tab {
  color: #b1b1b1 !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  text-transform: none !important;
  font-family: 'Nunito', sans-serif !important;
}

.offers {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  border: 1px solid #f2f2f2;
  border-radius: 0.8rem;
}

.productInfoContainer {
  width: 95%;
  display: flex;
  align-items: flex-start;
}

.imageContainer {
  width: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  margin-top: 1.4rem;
}

.productName {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.productName:hover {
  text-decoration: underline;
}

.receivedOfferText {
  width: 21rem;
  height: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  color: #b1b1b1;
  margin-top: 0.7rem;
}

.receivedOfferText strong {
  font-size: 1.5rem;
  color: #525252;
}

.productImage {
  cursor: pointer;
  height: 8.4rem;
  width: auto;
  max-width: 85%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.buttonsContainer {
  width: 30%;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.buttonsContainer button {
  width: 8.6rem;
  height: 3rem;
  border: none;
  border-radius: 0.8rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.confirmButton {
  background-color: #4b9ce2;
}

.confirmButton:hover {
  background-color: #094e78;
}

.rejectButton {
  background-color: #f77474;
}

.rejectButton:hover {
  background-color: #c31c1c;
}

.buyButton {
  background-color: #4b9ce2;
}

.buyButton:hover {
  background-color: #094e78;
}

.pendingText,
.confirmedText,
.rejectedText {
  width: 10rem;
  font-size: 1.5rem;
  margin-right: 3rem;
  text-align: end;
}

.pendingText {
  color: #faad60;
}

.confirmedText {
  color: #4b9ce2;
}

.rejectedText {
  color: #f77474;
}

.loadingContainer {
  background-color: rgba(75, 156, 226, 0.6);
  margin: 0 auto;
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.alert {
  position: fixed;
  top: 9rem;
  right: 1.1rem;
  width: 32rem;
  height: 6rem;
  border-radius: 0.8rem;
  background-color: #f1fff0;
  color: #46af32;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}

@media (max-width: 48em) {
  .offers {
    margin-top: 1rem;
    width: 95%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 3rem;
    padding: 1rem !important;
  }

  .textContainer {
    width: 100% !important;
  }

  .receivedOfferText {
    width: 100% !important;
  }

  .textContainer {
    width: 100%;
    flex: 1 1 auto;
  }

  .buttonsContainer {
    margin-right: 0;
    /* margin-left: 20%; */
    margin-top: 0.5rem;
    width: 100%;
    justify-content: flex-start;
  }

  .buttonsContainer button {
    width: 100%;
  }
}
